@import url('https://fonts.googleapis.com/css?family=Exo+2');

$global-font-family: 'Exo 2', sans-serif;
$global-font-size: 14px;
$global-xlarge-font-size: 1.75rem;

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

@import "uikit/src/scss/uikit-theme.scss";
