<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= webpack_asset('main', 'css') %>" />
    <title>Tracker</title>
  </head>

  <body>
    <div id="react-app"></div>
    <script src="<%= webpack_asset('main', 'js') %>"></script>
  </body>
</html>
